# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env/
.venv/
env/
venv/

# Environment variable files
*.env

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Node.js (frontend)
node_modules/
yarn-debug.log*
yarn-error.log*
